.ruby-img {
    width: 300px;
    height: 300px;
}

.sapphire-img {
    width: 360px;
    height: 360px;
}

.emerald-img {
    width: 300px;
    height: 300px;
}

.amethyst-img {
    width: 300px;
    height: 300px;
}

.fonts p {
    color: #777777;
    font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("51335574-seamless-crystal-repeating-pattern.jpg");
}

h1 {
    background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
    background-color: rgb(243, 112, 36);
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h4 { 
    background-color: #bf32e2;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    display: block;
    color: #cccccc;
    overflow: visible;
    text-align: center;
    height: 15px;
    border: 0;
    border-top: 15px solid #ccc;
    margin: 15em 0;
    padding: 15;
}

#box1 {
    box-sizing: content-box;
    width: 350px;
    height: 10x;
    padding: 10px;
    border: 1px;
    background-color: #4aaaa5;
}

#box2 {
    box-sizing: content-box;
    width: 350px;
    height: 10x;
    padding: 10px;
    border: 1px;
    background-color: #4aaaa5;
}