.ruby-img {
    width: 300px;
    height: 300px;
}

.sapphire-img {
    width: 300px;
    height: 300px;
}

.emerald-img {
    width: 300px;
    height: 300px;
}

.amethyst-img {
    width: 300px;
    height: 300px;
}

.jumbotron {
	background-color: #ffffff
}

.fonts p {
    color: #777777;
    font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("51335574-seamless-crystal-repeating-pattern.jpg");
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

hr {
    display: block;
    color: #cccccc;
    overflow: visible;
    text-align: center;
    height: 4px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#box1 {
    box-sizing: content-box;
    width: 220px;
    height: 10x;
    padding: 10px;
    border: 1px;
    background-color: #4aaaa5;
    border-color: #dddddd;
}

#box2 {
    box-sizing: content-box;
    width: 500px;
    height: 200px;
    padding: 30px;
    border: 10px;
    background-color: #ffffff;
    border-color: #dddddd;
}
#picture {
	height: 100px;
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

#picture2 {
    height: 150px;
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
#box3 {
    box-sizing: content-box;
    width: 500px;
    height: 200px;
    padding: 30px;
    border: 10px;
    background-color: #ffffff;
    border-color: #dddddd;
}

#box4 {
    box-sizing: content-box;
    width: 500px;
    height: 200px;
    padding: 30px;
    border: 10px;
    background-color: #ffffff;
    border-color: #dddddd;
}